body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color:black;
}

a {
	color:red;
}

.title {
	font-family: lores-12,sans-serif;
	font-weight: 700;
	font-style: normal;
	text-align:center;
	font-size:100pt;
	padding-top: 10px;
	color:white;
}

.nav {
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
	text-align: center;
}

.btn {
	font-family: lores-12,sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: black;
	padding-top: 65px;
	display:inline-flex;
	text-align:center;
	background-color:white;
	width:150px;
	height:150px;
	border-radius:100%;
}

.btn1{

}

.btn2 {

}

.btn3 {

}

.background img {
	width:100%;
	display:none;
}