body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color:#C6C6C5;
}

a {
	color:red;
}

.title {
	font-family: arial;
	font-weight: 700;
	font-style: normal;
	text-shadow:5px 5px 10px black;
	text-align:center;
	font-size:85pt;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color:white;
}

.nav {
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
}

.btn {
	font-family: arial;
	font-weight: 700;
	font-size: 40px;
	color: black;
	padding-left:10px;
	display:inline-flex;
	text-align:left;
	background-color:#46A7DD;
	border-radius:30px;
	margin-bottom:20px;
	margin-top:20px;
	padding: 40px;
	box-shadow: inset 0px -5px 20px;
}

.btn:hover {
	font-family: arial;
	font-weight: 700;
	color: black;
	padding-left:10px;
	display:inline-flex;
	text-align:left;
	background-color:white;
	border-radius:30px;
	margin-bottom:20px;
	margin-top:20px;
	padding: 40px;
	box-shadow: inset 0px 5px 20px;
}

.btn1{

}

.btn2 {

}

.btn3 {

}

.background img {
	width:100%;
	display:none;
}