body {
	background-color:black;
}

.title img {
	width:90%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
}

.col {
	width:33.33%;
	color:white;
	font-family:futura;
	padding:10px;
	padding-top:20px;
}

.bigtype {
	font-family: mostra-nuova, sans-serif;
 	font-size:30px;
 	font-kerning:10;
}

.smalltype {
	font-family: mostra-nuova, sans-serif;
	font-size:15px;
}

.col1{
	width:25%;
}

.col2{
	width:50%;
}

.col3{
	width:25%;
}

.col img {
 width:100%;
}

.tree img {

}

.tree {
	position:relative;
}

.dot {
	font-family: mostra-nuova, sans-serif;
	width:75px;
	height:75px;
	color:black;
	font-size:15px;
	text-align:center;
	padding-top:30px;
	background-color:white;
	border:1px solid black;
	border-radius:100%;
}

.dot1{
	position:absolute;
	top:400px;
	left:150px;
}

.dot2{
	position:absolute;
	top:150px;
	left:70px;
}

.dot3{
	position:absolute;
	top:150px;
	right:70px;
}

.dot4{
	position:absolute;
	top:400px;
	right:150px;
}

.dot5{
	position:absolute;
	top:295px;
	left:50%;
	margin-left:-37.5px;
}

.dot6{
	position:absolute;
	top:540px;
	left:50%;
	margin-left:-37.5px;
}

.dot7{
	position:absolute;
	top:760px;
	left:50%;
	margin-left:-37.5px;
}

.dot8{
	left:;
}

.adot {
	width:100px;
	height:100px;
	color:black;
	font-size:15px;
	font-family:futura;
	text-align:center;
	padding-top:35px;
	background-color:white;
	border:1px solid black;
	border-radius:100%;
	position:absolute;
	top:950px;
	left:50%;
	margin-left:-50px;
}

.adot:hover {
	color:white;
	background-color:black;
	border:3px solid white;
}

.chart {
	display:flex;
	flex-wrap:wrap;
}



.footer {
	color:white;
	font-family:futura;
	font-size:20px;
	padding:10px;
	position:fixed;
	bottom:0px;
	right:0px;
}

.d1text {

}

.d2text {
	
}

.d3text {
	
}

.d4text {
	
}

.d5text {
	
}

.d6text {
	
}

.d7text {
	
}

.container {
	display:flex;
	flex-wrap:wrap;
	padding-top:50px;
}

.item {
	width:33%;
	font-family: mostra-nuova, sans-serif;
	color:white;
	text-align:center;
}



.item.hide {
	display:none;
}

.item img {
	width:100%;
	filter:grayscale(100) contrast(2);
}

.img5 img {
	filter:grayscale(100) contrast(1);
}

.img7 img {
	filter:grayscale(100) contrast(1.1);
}

.img30 img {
	filter:grayscale(100) contrast(1.3);
}

.item img:hover {
	filter:grayscale(0);
	filter:saturate(1.5);
}	

.footer {
 	width:49.5%;
}

.next {
	color:white;
	font-family:futura;
	font-size:20px;
	padding:10px;
	text-align:right;
}

.credit {
	color:white;
	font-family:futura;
	font-size:10px;
	padding:10px;
}

@media (max-width:500px) {
	.tree img {
		display:none;
	}

	.dot {
		display:none;
	}

	.col {
		width:100%;
	}

	.item {
		width:100%;
	}
}

