body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 60px;
	text-align: center;
}



.mada {
	color:white;
	background-color:black;
	font-family:helvetica;
	font-style:italic;
	font-weight:bold;
	padding-top:20px;
	padding-left:10px;
	font-size:100px;
	text-align:left;
	position:static;
	text-shadow: 10px 10px 0px #ff009c;
}

.title {
	color:white;
	font-family:helvetica;
	font-weight:bold;
	font-style:italic;
	text-align:left;
	background-color:black;
	padding-bottom:10px;
	padding-left:10px;
}

.date {
	color:white;
	font-family:helvetica;
	font-weight:bold;
	font-style:italic;
	background-color:black;
	text-align:left;
	padding-left:10px;
	padding-bottom:10px;
}


.subtitle {
	color:black;
	font-family:helvetica;
	font-weight:bold;
	font-style:italic;
	padding:30px;
	text-shadow: 5px 5px 0px #ff009c ;
}

.message {
	color:black;
	font-family:helvetica;
	font-weight:bold;
	font-style:italic;
}

a {
	color:purple;
}


span {
	color:#ff009c;
}
