body {
	background-image:url(assets/background.jpg);
	background-size:100%;
	background-position:0px 215px;
	background-attachment:scroll;
}

.logo img {
	width:20%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
}

.logo {
	background-color:#C9EBFC;
}

.btn {
	background-color:#335866;
	padding:10px;
	padding-left:20px;
	padding-right:20px;
	font-family: dapifer,serif;
	font-weight: 300;
	font-style: normal;
	font-size:25px;
	color:#C9EBFC;
}

.btn:hover {
	background-color:#C9EBFC;
	color:#335866;
}

.nav {
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
	background-color:#335866;
}

.background img {
	width:100%;
	top:215px;
	height:100%;
	display:none;
}

.title {
	font-family: dapifer,serif;
	font-weight: 500;
	font-style: normal;
	font-size:50px;
	background-color:white;
	width:180px;
	padding:10px;
	margin:10px;
}

.textbox {
	margin-left:10px;
	margin-right:10px;
	margin-bottom: 20px;
	padding:10px;
	background-color:white;
	font-family: dapifer,serif;
	font-weight: 300;
	font-style: normal;
	line-height: 40px;
	width:49vw;
}

.item {
}

.bigtext {
	font-size:30px;
}

.smalltext {
	font-size:25px;
}

.container {
	width:100%;
}

.foyer img {
	margin-left:10px;
	margin-right: 10px;
	margin-bottom: 10px;
	width:49vw;

}

.foyer {
	padding-bottom: 20px;
}

.col1 {
	display:inline-flex;
	flex-wrap: wrap;
	width:48%;
	vertical-align: top;
}

.col1 img {
	width:46vw;
}

.col2 {
	display:inline-flex;
	flex-wrap: wrap;
	width:49%;
}



