body {
	background-image:url(assets/background2.jpg);
	background-size:100%;
	background-position:0px 215px;
	background-attachment:scroll;
}

.logo img {
	width:20%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
}

.logo {
	background-color:#C9EBFC;
}

.btn {
	background-color:#335866;
	padding:10px;
	padding-left:20px;
	padding-right:20px;
	font-family: dapifer,serif;
	font-weight: 300;
	font-style: normal;
	font-size:25px;
	color:#C9EBFC;
}

.btn:hover {
	background-color:#C9EBFC;
	color:#335866;
}

.nav {
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
	background-color:#335866;
}

.background img {
	width:100%;
	top:215px;
	height:100%;
	display:none;
}

.title {
	font-family: dapifer,serif;
	font-weight: 500;
	font-style: normal;
	font-size:50px;
	background-color:white;
	width:225px;
	padding:10px;
	margin:10px;
}

.mov {
	font-family: dapifer,serif;
	font-weight: 300;
	font-style: normal;
	font-size:25px;
	background-color:white;
	padding:10px;
	margin:10px;	
	width:29%;
}

.mov img {
	width:100%;
}

.movielist {
	display:inline-flex;
	width:100%;
	flex-wrap:wrap;
}

