body {
	background-image:url(assets/background2.jpg);
	background-size:100%;
	background-position:0px 215px;
	background-attachment:scroll;
}

.logo img {
	width:20%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
}

.logo {
	background-color:#C9EBFC;
}

.btn {
	background-color:#335866;
	padding:10px;
	padding-left:20px;
	padding-right:20px;
	font-family: bodega-sans,sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size:25px;
	color:#C9EBFC;
}

.btn:hover {
	background-color:#C9EBFC;
	color:#335866;
}

.nav {
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
	background-color:#335866;
}

.background img {
	width:100%;
	display:none;
}

.item {
	font-family: bodega-sans,sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size:45px;
	background-color:white;
	padding:10px;
	margin:10px;	
	width:29%;
	height:150px;
}

.items {
	width:100%;
	display:flex;
	flex-wrap:wrap;
}

.gallery img {
	width:30%;
	padding:10px;
}

.galleryimage img {
	display:inline-flex;
	flex-wrap: wrap;
}

