

.title {
	position:fixed;
	bottom:20px;
	right:-40px;
	color:black;
	font-family:american typewriter;
	font-style:italic;
	text-align:right;
	font-size:100px;
	text-shadow: 3px 3px 5px black;
	animation: emerge infinite alternate 6s ;
}

@keyframes emerge {
	0% {
		padding-right:0px;
	}
	100% {
		padding-right:600px;
	}
}

.finals {
	position:fixed;
	top:100px;
	font-family:american typewriter;
	font-style:italic;
	text-align:center;
}


.pages {
	color:black;
	font-family:american typewriter;
	font-style:italic;
	font-size:30pt;
	position:fixed;
	top:150px;
	left:170px;
	text-shadow: 3px 3px 5px black;
	background:radial-gradient(#d7d7d7, #898989,  #464646 200%);
	box-shadow:0px 0px 70px white;
	width:150px;
	height:150px;
	border-radius:100%;
	overflow:scroll;

}

.page1 {
padding:10px;
}

.page2 {
padding:10px;
}

.page3 {
padding:10px;
}

.page4 {
padding:10px;
}

.page5 {
padding:10px;
}

.page6 {
padding:10px;
}

.page7 {
padding:10px;
}

.page8 {
padding:10px;
}

.page9 {
padding:10px;
}

.page10 {
padding:10px;
}

.final1 {
	padding:10px;
}

.final2 {
	padding:10px;
}

.trees {
	width:120%;
	position:fixed;
	top:0px;
	opacity:100%;
}

.treescorner {
	width:117%;
	position:fixed;
	bottom:-10px;
	right:-215px;
	opacity:100%;
}

img {
	width:100%;
}

a {
	color:black;
	
}

