.title {
	font-family:courier;
	font-size:60pt;
	letter-spacing:20pt;
	text-align:center;
	color:white;
	background-color:black;
	position:fixed;
	top:0px;
	width:100%;
}

.body {
	position:fixed;
	top:100px;
	left:10px;
	font-family:courier;
	font-size:50px;
}

.barcode img {
	width:100%;
	position:fixed;
	top:0px;
	opacity:50%;
}