.hello img {
	width:15vw;
	display: none;
}

.hello {
	font-family: baskerville;
	font-size: 60pt;
}

.name img {
	width:80vw;
	display:none;
}

.name {
	font-family: baskerville;
	font-size: 150pt;
	font-style: italic;
}

.container1 {
	padding:10px;
	background-color:white;
	height:100vh;
}

.intro {
	font-family: baskerville;
	color:white;
	font-size: 60pt;
}

.container2 {
	padding:10px;
	background-color:black;
	height:100vh;
}

.project {
	width:50%;
	font-family: baskerville;
	font-size: 20pt;
	text-align:center;
	padding-bottom: 25px;
	padding-top:25px;
}

.project img {
	width:100%;
}

.projects {
	display: inline-flex;
	flex-wrap: wrap;
	width:100%;
}