.header {
	font-family: didot;
	font-size:40pt;
	background-color: #EAEAEA;
	padding-left: 20px;
	height:15vh;
	padding-top: 2.5vh;
}

.mainimage img {
height:85vh;
}

.caption {
	width:35vw;
	padding:10px;
	vertical-align: top;
	font-family: didot;
}



.item {
	display:inline-flex;
	flex-wrap: wrap;
}

.footer {
	font-family:didot;
	position: fixed;
	bottom:0px;
	padding: 10px;
	background-color: black;
	width: 100%;
	color:white;
}

.link {
	background-color: black;
	padding: 5px;
	margin-top: 10px;
}

.next {
	position: fixed;
	right:10px;
}